[defaults]
inventory = ./org-infra
roles_path = ./roles
remote_user = admin
collections_path=./mycollections:/usr/share/ansible/collections:~/ansible-playbook/ansible/collections

[privilege_escalation]
become=true
become_method=sudo
become_user=root
become_ask_pass=False
